
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0f0f0f;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* NAVBAR */

.navbar{
    height: 90px;

    background: #111;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 80px;

    border-bottom: 1px solid #222;
}

.logo{
    font-family: 'Anton', sans-serif;

    font-size: 2rem;

    letter-spacing: 2px;
}

.menu{
    display: flex;
    gap: 40px;

    list-style: none;
}

.menu a{
    text-decoration: none;

    color: white;

    font-weight: 500;

    transition: .3s;
}

.menu a:hover{
    color: #ff3131;
}

.icons{
    font-size: 1.4rem;

    display: flex;
    gap: 20px;
}

/* BANNER */

.banner-tenis{
    height: 65vh;

    background-image: url("../promo.png");

    background-size: cover;
    background-position: center;

    position: relative;

    display: flex;
    align-items: center;

    padding-left: 100px;
}

.overlay{
    position: absolute;

    inset: 0;

    background: linear-gradient(
        to right,
        rgba(0,0,0,.75),
        rgba(0,0,0,.2)
    );
}

.texto-banner{
    position: relative;

    z-index: 2;
}

.mini{
    color: #ff3131;

    letter-spacing: 3px;

    margin-bottom: 20px;

    font-weight: 600;
}

.texto-banner h1{
    font-family: 'Anton', sans-serif;

    font-size: 5rem;

    line-height: 85px;

    margin-bottom: 30px;
}

.btn-banner{
    background: #ff3131;

    color: white;

    padding: 15px 40px;

    text-decoration: none;

    border-radius: 50px;

    font-weight: bold;

    transition: .3s;
}

.btn-banner:hover{
    background: #ff0000;

    box-shadow: 0 0 20px rgba(255,0,0,.5);
}

/* CONTEÚDO */

.conteudo{
    display: flex;

    gap: 40px;

    padding: 50px;
}

/* FILTRO */

.filtrobox{
    width: 280px;

    background: #181818;

    padding: 30px;

    border-radius: 25px;

    height: fit-content;

    border: 1px solid #252525;
}

.filtrobox h2{
    margin-bottom: 30px;

    font-size: 2rem;

    font-family: 'Anton', sans-serif;
}


.filtro{
    margin-bottom: 40px;
}


.filtro h3{
    margin-bottom: 20px;
}


.filtro input[type="text"]{
    width: 100%;

    padding: 12px;

    border-radius: 10px;

    border: none;

    background: #252525;

    color: white;

    margin-bottom: 20px;
}


.filtro label{
    display: block;

    margin-bottom: 12px;

    color: #d5d5d5;
}

/* TAMANHOS */

.tamanhos{
    display: flex;

    flex-wrap: wrap;

    gap: 10px;
}


.tam{
    width: 50px;
    height: 50px;

    background: #252525;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    cursor: pointer;

    transition: .3s;
}


.tam:hover{
    background: #ff3131;

    transform: scale(1.05);
}


.produto-card img {
  max-width: 100%; /* Impede a imagem de quebrar a tela se for muito grande */
  height: auto;
}



